KafkaServer {
    org.apache.kafka.common.security.plain.PlainLoginModule required
    username="{{kafka_super_user}}"
    password="qawsedrftgyhulqercvh"
    user_{{kafka_super_user}}="qawsedrftgyhulqercvh";
};
