heartbeat = 30

listeners.tcp.default = 5672
cluster_formation.peer_discovery_backend = rabbit_peer_discovery_aws

cluster_formation.aws.region = eu-central-1
cluster_formation.aws.use_autoscaling_group = true
