KafkaServer {
    org.apache.kafka.common.security.plain.PlainLoginModule required
    username="{{kafka_super_user}}"
    password="qawsedrftgyhujik"
    user_{{kafka_super_user}}="qawsedrftgyhujik"
    user_natco_gdc="edrftpoilcvbg"
    user_natco_hu_stage="ujhcvwertyuk";
};
