KafkaServer {
    org.apache.kafka.common.security.plain.PlainLoginModule required
    username="{{kafka_super_user}}"
    password="qawsedrftgyhujikiuytgjjopp"
    user_{{kafka_super_user}}="qawsedrftgyhujikiuytgjjopp"
    user_natco_gdc="unbhgyuokliwsty"
    user_natco_hu="qplawsokjhtyrcv";
};
